/* RESET DA PÁGINA */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Bai Jamjuree', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* VARIÁVEIS */
:root {
    /* Primary */
    --primary-strong-cyan: #26baa4;
    --primary-light-blue: #6173ff;

    /* Neutral */
    --dark-grayish-blue: #4c545d;
    --dark-grayish: #9fabb2;
}

/* HEADER */
.header {
    background: url('../images/bg-header-desktop.png') top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-header {
    width: 90px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header h1 {
    color: var(--dark-grayish-blue);
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-align: center;
}

.header p {
    text-align: center;
    width: 550px;
    margin-bottom: 30px;
    color: var(--dark-grayish);
}

.buttons-downlaod {
    display: flex;
}

.btn-download-ios {
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    background-color: var(--primary-strong-cyan);
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #0a3a33;
    margin: 0 5px;
    cursor: pointer;
}

.btn-download-mac {
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    background-color: var(--primary-light-blue);
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 #0b113f;
    margin: 0 5px;
    cursor: pointer;
}

/* SNIPPETS */
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
    align-items: center;
}

.content h2 {
    font-size: 1.75rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 20px;
}

.content>p {
    color: var(--dark-grayish);
    width: 620px;
    margin-bottom: 80px;
}

.box-content {
    display: flex;
    align-items: center;
}

.image-computer {
    margin-left: -200px;
}

.image-computer img {
    width: 100%;
}

.content-info {
    padding: 80px;
    text-align: start;
}

.content-info h3 {
    font-size: 1.125rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 10px;
    font-weight: 600;
}

.content-info p {
    width: 340px;
    color: var(--dark-grayish);
    margin-bottom: 60px;
}

.tips {
    display: flex;
    width: 100%;
}

.item-tips {
    width: 33%;
    padding: 0 40px;
}

.item-tips h3 {
    color: var(--dark-grayish-blue);
    font-size: 1.125rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

.item-tips p {
    text-align: center;
    width: 350px;
    color: var(--dark-grayish);
}